<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Pokémon </title>
	<link rel="icon" href="static/logo/mini_logo.png">
	<link href="/static/style.css" rel="stylesheet" type="text/css">
	<style>
      tr:hover {
        background-color: #5890B2;
      }

    </style>
  </head>

<body>

<div class="container">


     
      <a href="/"><img src="static/logo/logo.png" class="logo"/></a>

    <div class="banner" >
    	
      <a href="pokedex" ><button class="btn" ><font color="#fff">Pokedex</font></button></a>
      <a href="upload" ><button class="btn" ><font color="#fff">Upload</font></button></a>
      <a href="capacite" ><button class="btn"><font color="#fff">Capacitées</font></button></a>
      <a href="talent" ><button class="btn"><font color="#fff">Talent</font></button></a>
    </div>
 


</div>


<div class ="info-list">

<table style="background-color: #7C9DB2;margin: auto;border-collapse: collapse;width: 100%;">
<tr >
	<td ><h2><a href="uploadtalent" >Ajout de talent</a></h2></td>
	</tr>
<tr >
	<td><h2><a href="/uploadcapacite">Ajout de capacité</a></h2></td>
	</tr>
<tr >
	<td ><h2><a href="/uploadPKM">Ajout de pokémon</a></h2></td>
	</tr>
<tr >
	<td><h2><a href="/assignerCapacite">Assignation de capacité</a></h2></td>
</tr>
<tr >
	<td ><h2><a href='/assignerTalent'>Assignation de talent</a></h2></td>
</tr>
<tr >
	<td ><h2><a href='/assignerSUR'>Assignation de sur-évolution</a></h2></td>
	</tr>
<tr >
	<td><h2><a href='/assignerSOUS'>Assignation de sous-évolution</a></h2></td>
</tr>
</table>
</div>
</body>